/node_modules
/public/js
/public/css
/public/img
/public/fonts
/public/hot
/public/storage
/public/*.js
/public/*.json
/public/.user.ini
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.bak

composer.lock
package-lock.json
yarn.lock

app/view/ant/antd-course/node_modules
app/view/ant/antd-course/dist
app/view/ant/antd-course/.umi
